@model Courses.Models.RegisterViewModel
@{
    ViewBag.Title = "AddUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="container-fluid">


      
        @*<ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/Home/Index">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Add Users</li>
        </ol>
        <div class="row">
            <div class="col-12">
                <h1 style="color:#868e96; font-weight:bold;">ADD USERS</h1>

                <form id="myform">

                    <div class="form-group col-3">
                        <label>Email address</label>
                        <input type="email" class="form-control" placeholder="Enter E-Mail" required>
                    </div>
                    <div class="form-group col-3">
                        <label>Password</label>
                        <input type="password" class="form-control" placeholder="Enter Password" required>
                    </div>
                    <div class="form-group col-3">
                        <label>Confirm Password</label>
                        <input type="password" class="form-control" placeholder="Enter Confirm Password" required>
                    </div>

                    <div class="form-group col-3">
                        <label>Role</label>
                        <select class="form-control" required>
                            <option>ADMIN</option>
                            <option>STUDENT</option>
                            
                        </select>
                    </div>

                    <button type="submit" class="btn btn-success">ADD USER</button>

                </form>







</div>
        </div>*@

      
        <div class="card card-login mx-auto mt-5">
            <div class="card-header">Create a new account.</div>
            <div class="card-body">

                @using (Html.BeginForm("AddUser", "Home", FormMethod.Post, new { @class = "form-group", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @*<h4>Create a new account.</h4>
                    <hr />*@
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email)

                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })

                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password)

                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })

                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword)

                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })

                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Role)

                        @*@Html.TextBoxFor(m => m.Role, new { @class = "form-control" })*@
                        <select name="Role" class="form-control">
                            <option value="1">Admin</option>
                            <option value="2">Student</option>
                        </select>

                    </div>

                    <div class="form-group">

                        <input type="submit" class="btn btn-success btn-block" value="Register" />

                    </div>
                    <br />

                    if(ViewBag.msg == "Account Successfully Created..")
                    {
                        <div class="alert alert-success alert-block">

                            <h6 class="alert-heading">@ViewBag.msg</h6>
                        </div>

                    }




                }

             
            </div>



        </div>


    </div>

