<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
   
    <link href="~/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href="~/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom styles for this template-->

    <link href="~/Content/sb-admin.css" rel="stylesheet" />
    <link rel="stylesheet" href="@Url.Content("~/Content/New/")css/select2.css" />

    @*<link data-require="bootstrap-css@3.3.6" data-semver="3.3.6" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" />*@
    <script data-require="angular.js@1.4.x" src="https://code.angularjs.org/1.4.8/angular.js" data-semver="1.4.8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.0.3.js"></script>

</head>
@using Microsoft.AspNet.Identity
<body class="fixed-nav sticky-footer bg-dark" id="page-top" ng-app="courses">
    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>*@
    @*<div ng-controller="courseController">*@
    <input type="hidden" id="UserName" value="@User.Identity.GetUserName()">
        <div class="content-wrapper">
            <div ng-controller="courseController">
                <input type="hidden" id="role" value="{{role}}" />
                <a href="@Url.Action("Index","Home")"><img src="@Url.Content("~/Content/Logo/")2.png" alt="LOGO" width="100%" height="70px;" style="margin-bottom:10px"></a>


                <nav @*style="padding: .0rem 1rem;"*@ class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">



                    @*<a href="/Home/Index"><img src="~/Content/Logo/ilf 50-50.png" style="margin-left:75px;" width="50px" height="50px" /></a>*@



                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul style="margin-top:10px; text-align:center" class="navbar-nav navbar-sidenav" id="exampleAccordion">
                            <a href="/Home/Index"><img src="~/Content/Logo/ilfwhite.png" style="margin-left:20px; padding-bottom: 1em; " width="85px" height="85px" /></a>
                            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                                <a class="nav-link" href="/Home/Index">
                                    <i class="fa fa-fw fa-dashboard"></i>
                                    <span class="nav-link-text" style="font-weight:300 ;  font-family:Gill-Sans, Arial, sans-serif;text-shadow:1px 1px 0 rgba(0,0,0,0.2) ;text-transform:uppercase">Dashboard</span>
                                </a>
                            </li>

                            <li ng-show="isAdmin" class="nav-item" data-toggle="tooltip" data-placement="right" title="ADMIN">
                                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti1" data-parent="#exampleAccordion">
                                    <i class="fa fa-fw fa-sitemap"></i>
                                    <span class="nav-link-text" style="font-weight:300 ;  font-size:16px; font-family:Gill-Sans, Arial, sans-serif ;text-shadow:1px 1px 0 rgba(0,0,0,0.2)">ADMIN</span>
                                </a>
                                <ul class="sidenav-second-level collapse" id="collapseMulti1">
                                    @*<li style="font-weight:300; font-size:16px; font-family:Gill-Sans, Arial, sans-serif ;text-shadow:1px 1px 0 rgba(0,0,0,0.2) ;text-transform:uppercase">
                                    <a href="/Home/Admin">Admin</a>
                                </li>*@

                                    <li style="font-weight:300 ; font-size:16px; font-family:Gill-Sans, Arial, sans-serif ;text-shadow:1px 1px 0 rgba(0,0,0,0.2) ;text-transform:uppercase">
                                        <a href="/Home/Course">Courses</a>
                                    </li>

                                    <li style="font-weight:300 ; font-size:16px; font-family:Gill-Sans, Arial, sans-serif ;text-shadow:1px 1px 0 rgba(0,0,0,0.2) ;text-transform:uppercase">
                                        <a href="/Home/Module">Modules</a>
                                    </li>

                                    <li style="font-weight:300 ; font-size:16px; font-family:Gill-Sans, Arial, sans-serif ;text-shadow:1px 1px 0 rgba(0,0,0,0.2) ;text-transform:uppercase">
                                        <a href="/Home/CourseModule">Course Module</a>
                                    </li>

                                    <li style="font-weight:300 ; font-size:16px; font-family:Gill-Sans, Arial, sans-serif ;text-shadow:1px 1px 0 rgba(0,0,0,0.2) ;text-transform:uppercase">
                                        <a href="/Home/CourseExam">Course Exam</a>
                                    </li>
                                    <li style="font-weight:300 ; font-size:16px; font-family:Gill-Sans, Arial, sans-serif ;text-shadow:1px 1px 0 rgba(0,0,0,0.2) ;text-transform:uppercase">
                                        <a href="/Home/AddUser">Add Users</a>
                                    </li>
                                    <li style="font-weight:300 ; font-size:16px; font-family:Gill-Sans, Arial, sans-serif ;text-shadow:1px 1px 0 rgba(0,0,0,0.2) ;text-transform:uppercase">
                                        <a href="/Home/UserCourses">User Courses</a>
                                    </li>


                                </ul>
                            </li>


                            <li  ng-show="isTeacher" class="nav-item" data-toggle="tooltip" data-placement="right" title="Teacher">
                                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti" data-parent="#exampleAccordion">
                                    <i class="fa fa-fw fa-sitemap"></i>
                                    <span class="nav-link-text" style="font-weight:300 ;  font-size:16px; font-family:Gill-Sans, Arial, sans-serif ;text-shadow:1px 1px 0 rgba(0,0,0,0.2)">Teacher</span>
                                </a>
                                <ul class="sidenav-second-level collapse" id="collapseMulti">
                                 

                                  

                                   

                                    <li style="font-weight:300 ; font-size:16px; font-family:Gill-Sans, Arial, sans-serif ;text-shadow:1px 1px 0 rgba(0,0,0,0.2) ;text-transform:uppercase">
                                        <a href="/Home/CourseModule">Course Module</a>
                                    </li>

                                    <li style="font-weight:300 ; font-size:16px; font-family:Gill-Sans, Arial, sans-serif ;text-shadow:1px 1px 0 rgba(0,0,0,0.2) ;text-transform:uppercase">
                                        <a href="/Home/CourseExam">Course Exam</a>
                                    </li>
                                 


                                </ul>
                            </li>


                          @*   <li ng-show="isAdmin" class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
                                   <a class="nav-link" href="#">
                                       <i class="fa fa-sign-out"></i>
                                       <span class="nav-link-text" style="font-weight:300 ;font-size:16px; font-family:Gill-Sans, Arial, sans-serif ;text-shadow:1px 1px 0 rgba(0,0,0,0.2) ;text-transform:uppercase">EXIT</span>
                                   </a>
                               </li>


                            <li ng-show="isAdmin" class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
                                       <a class="nav-link" href="/Home/USER">
                                       <i class="fa fa-fw fa-table"></i>
                                       <span class="nav-link-text" style="font-weight:bold ;font-size:16px; font-family:Gill-Sans, Arial, sans-serif ;text-shadow:1px 1px 0 rgba(0,0,0,0.2) ;text-transform:uppercase">USERS</span>
                                   </a>
                               </li>*@
                        </ul>
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown">
                            </li>
                            <li class="nav-item">

                                @Html.Partial("_LoginPartial")
                            </li>
                        </ul>




                    </div>
                </nav>

                @RenderBody()
            </div>
                <footer class="sticky-footer">
                    <div class="container">
                        <div class="text-center">
                            <small>Copyright © Your Website 2017</small>
                        </div>
                    </div>
                </footer>
                <!-- Scroll to Top Button-->
                <a class="scroll-to-top rounded" href="#page-top">
                    <i class="fa fa-angle-up"></i>
                </a>

            </div>
    @*</div>*@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @*<script src="/Content/Angular/angular2.min.js"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.min.js"></script>
    <script src="/Content/Angular/app.js"></script>
    <script src="/Content/Angular/CourseController.js"></script>
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Page level plugin JavaScript-->
    @*<script src="/vendor/chart.js/Chart.min.js"></script>*@
    <script src="/vendor/datatables/jquery.dataTables.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="~/Scripts/sb-admin.min.js"></script>
    <!-- Custom scripts for this page-->
    @*<script src="~/Scripts/sb-admin-datatables.min.js"></script>*@
    @*<script src="~/Scripts/sb-admin-charts.min.js"></script>*@
    <script src="~/Scripts/sb-admin.min.js"></script>

    <script src="@Url.Content("~/Content/newJS/")jquery.min.js"></script>
    <script src="@Url.Content("~/Content/newJS/")jquery.uniform.js"></script>
    <script src="@Url.Content("~/Content/newJS/")select2.min.js"></script>
    <script src="@Url.Content("~/Content/newJS/")matrix.form_common.js"></script>



</body>
</html>
