<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title Courses</title>

    <!-- Bootstrap core CSS-->
    <link href="@Url.Content("~/Content/vendor/")bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="@Url.Content("~/Content/vendor/")font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="@Url.Content("~/Content/css/")sb-admin.css" rel="stylesheet">

    <!-- Bootstrap core JavaScript-->
    <script src="@Url.Content("~/Content/vendor/")jquery/jquery.min.js"></script>
    <script src="@Url.Content("~/Content/vendor/")bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="@Url.Content("~/Content/vendor/")jquery-easing/jquery.easing.min.js"></script>







</head>
<body>
    <div>


        @RenderBody()

        <h1>Helllllooo</h1>



    </div>
   
</body>
</html>
