@using Courses.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/__LoginPartialNew.cshtml";

}


<div class="card card-login mx-auto mt-5">
    <div class="card-header">Login To Courses App</div>
    <div class="card-body">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-group", role = "form" }))
            {
            @Html.AntiForgeryToken()
            @*<h4>Use a local account to log in.</h4>*@

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Email)

                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

            </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password)

                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

                </div>
                <div class="form-group">

                    <div class="form-check">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe)
                    </div>

                </div>

                <input type="submit" value="Log in" class="btn btn-success btn-block" />
                <br />
                        @*<div class="text-center bg-light">
                            @Html.ActionLink("Register as a new user", "Register", new { @class = "d-block small mt-3" })

                        </div>*@


                        @* Enable this once you have account confirmation enabled for password reset functionality
                            <p>
                                @Html.ActionLink("Forgot your password?", "ForgotPassword")
                            </p>*@
        }
    </div>



</div>


