<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title  - Time-Sheet</title>
    <link rel="stylesheet" href="@Url.Content("~/Content/New/")css/select2.css" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- v4.0.0-alpha.6 -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")dist/bootstrap/css/bootstrap.min.css">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <!-- Theme style -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")dist/css/style.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/")dist/css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/")dist/css/et-line-font/et-line-font.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/")dist/css/themify-icons/themify-icons.css">

    <script data-require="angular.js@1.4.x" src="https://code.angularjs.org/1.4.8/angular.js" data-semver="1.4.8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.0.3.js"></script>

</head>
@using Microsoft.AspNet.Identity
<body  class="hold-transition skin-blue sidebar-mini" ng-app="timesheet">
    <input type="hidden" id="UserName" value="@User.Identity.GetUserName()">
  <div  ng-controller="timesheetController" class="wrapper boxed-wrapper">
      <input type="hidden" id="role" value="@ViewBag.role" />
        <header class="main-header">
            <!-- Logo -->
            <a href="/Home/Index" class="logo blue-bg">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><img src="@Url.Content("~/Content/")dist/img/TSt.png" alt=""></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><img src="@Url.Content("~/Content/")dist/img/TimeSheet.png" alt=""></span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar blue-bg navbar-static-top">
                <!-- Sidebar toggle button-->
                <ul class="nav navbar-nav pull-left">
                    <li><a class="sidebar-toggle" data-toggle="push-menu" href="#"></a> </li>
                </ul>
                @*<div class="pull-left search-box">
                        <form action="#" method="get" class="search-form">
                            <div class="input-group">
                                <input name="search" class="form-control" placeholder="Search..." type="text">
                                <span class="input-group-btn">
                                    <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i> </button>
                                </span>
                            </div>
                        </form>

                    </div>*@
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->
                        <li class="dropdown messages-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-envelope-o"></i>
                                <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
                            </a>
                            @*<ul class="dropdown-menu">
                                <li class="header">You have 4 new messages</li>
                                <li>
                                    <ul class="menu">
                                        <li>
                                            <a href="#">
                                                <div class="pull-left"><img src="dist/img/img1.jpg" class="img-circle" alt="User Image"> <span class="profile-status online pull-right"></span></div>
                                                <h4>Alex C. Patton</h4>
                                                <p>I've finished it! See you so...</p>
                                                <p><span class="time">9:30 AM</span></p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="pull-left"><img src="dist/img/img3.jpg" class="img-circle" alt="User Image"> <span class="profile-status offline pull-right"></span></div>
                                                <h4>Nikolaj S. Henriksen</h4>
                                                <p>I've finished it! See you so...</p>
                                                <p><span class="time">10:15 AM</span></p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="pull-left"><img src="dist/img/img2.jpg" class="img-circle" alt="User Image"> <span class="profile-status away pull-right"></span></div>
                                                <h4>Kasper S. Jessen</h4>
                                                <p>I've finished it! See you so...</p>
                                                <p><span class="time">8:45 AM</span></p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="pull-left"><img src="dist/img/img4.jpg" class="img-circle" alt="User Image"> <span class="profile-status busy pull-right"></span></div>
                                                <h4>Florence S. Kasper</h4>
                                                <p>I've finished it! See you so...</p>
                                                <p><span class="time">12:15 AM</span></p>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">View All Messages</a></li>
                            </ul>*@
                        </li>
                        <!-- Notifications: style can be found in dropdown.less -->
                        <li class="dropdown messages-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i>
                                <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
                            </a>
                            @*<ul class="dropdown-menu">
                                <li class="header">Notifications</li>
                                <li>
                                    <ul class="menu">
                                        <li>
                                            <a href="#">
                                                <div class="pull-left icon-circle red"><i class="icon-lightbulb"></i></div>
                                                <h4>Alex C. Patton</h4>
                                                <p>I've finished it! See you so...</p>
                                                <p><span class="time">9:30 AM</span></p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="pull-left icon-circle blue"><i class="fa fa-coffee"></i></div>
                                                <h4>Nikolaj S. Henriksen</h4>
                                                <p>I've finished it! See you so...</p>
                                                <p><span class="time">1:30 AM</span></p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="pull-left icon-circle green"><i class="fa fa-paperclip"></i></div>
                                                <h4>Kasper S. Jessen</h4>
                                                <p>I've finished it! See you so...</p>
                                                <p><span class="time">9:30 AM</span></p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="pull-left icon-circle yellow"><i class="fa  fa-plane"></i></div>
                                                <h4>Florence S. Kasper</h4>
                                                <p>I've finished it! See you so...</p>
                                                <p><span class="time">11:10 AM</span></p>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">Check all Notifications</a></li>
                            </ul>*@
                        </li>
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu p-ph-res">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <img src="@Url.Content("~/Content/")dist/img/logout1.png" class="user-image" alt="User Image"> <span class="hidden-xs">LogOut</span> </a>
                            <ul class="dropdown-menu">
                                @*<li class="user-header">
                                    <div class="pull-left user-img"><img src="@Url.Content("~/Content/")dist/img/logo TimeS.png" class="img-responsive" alt="User"></div>
                                    <p class="text-left">Admin <small>Admin@gmail.com</small> </p>

                                </li>*@

                               <li>@Html.Partial("_LoginPartial")</li>
                            </ul>
                        
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="image text-center"><img src="@Url.Content("~/Content/")dist/img/logo TimeS2.png" class="img-circle" alt="User Image"> </div>
                    <div class="info">
                        <p>Time Sheet</p>
                        @*<a href="#"><i class="fa fa-cog"></i></a> <a href="#"><i class="fa fa-envelope-o"></i></a> <a href="#"><i class="fa fa-power-off"></i></a>*@
                    </div>
                </div>

                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu" data-widget="tree">
                    @*<li class="header">PERSONAL</li>*@
                    <li class="active treeview">
                        <a href="/Home/Index"> <i class="fa fa-dashboard"></i> <span>Dashboard</span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i> </span> </a>
                        <ul class="treeview-menu">
                            <li><a href="/Home/Index">Dashboard</a></li>
                        </ul>
                    </li>
                    <li  ng-show="isAdmin" class="treeview">
                        <a href="#"> <i class="fa fa-user-circle-o"></i> <span>Admin</span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i> </span> </a>
                        <ul class="treeview-menu">
                            <li><a href="/Home/AddCompany">Add Company</a></li>
                            <li><a href="/Home/AddProject">Add Project</a></li>
                            <li><a href="/Home/AddEmployees">Add Employees</a></li>
                            <li><a href="/Home/CompanyEmployees">Company Employees</a></li>
                            <li><a href="/Home/Reports">Reports</a></li>
                       
                        </ul>
                    </li>

                    @*<li ng-show="isStudent" class="treeview">
                        <a href="#"> <i class="fa fa-user-circle-o"></i> <span>Employee</span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i> </span> </a>
                        <ul class="treeview-menu">
                        
                            <li><a href="/Home/TimeEntryPeriod">My Time-Sheet</a></li>

                        </ul>
                    </li>*@
            
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>

        <div class="content-wrapper">
            <div>
                @RenderBody()
            </div>
        </div>

        <footer class="main-footer" style="font-weight:500;color:black">
            <div class="pull-right hidden-xs">TIME-SHEET</div>
            Copyright © 2018 TIME-SHEET. All rights reserved.
        </footer>

  </div>
    <!-- ./wrapper -->
    <!-- jQuery 3 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.min.js"></script>
    <script src="/Content/Angular/app.js"></script>
    <script src="~/Content/Angular/TimesheetController.js"></script>
    <script src="@Url.Content("~/Content/")dist/js/jquery.min.js"></script>
    <!-- v4.0.0-alpha.6 -->
    <script src="@Url.Content("~/Content/")dist/bootstrap/js/bootstrap.min.js"></script>
    <!-- template -->
    <script src="@Url.Content("~/Content/")dist/js/niche.js"></script>
    <!-- Chartjs JavaScript -->
    <script src="@Url.Content("~/Content/")dist/plugins/chartjs/chart.min.js"></script>
    <script src="@Url.Content("~/Content/")dist/plugins/chartjs/chart-int.js"></script>
    <!-- Chart Peity JavaScript -->
    <script src="@Url.Content("~/Content/")dist/plugins/peity/jquery.peity.min.js"></script>
    <script src="@Url.Content("~/Content/")dist/plugins/functions/jquery.peity.init.js"></script>

    <script src="@Url.Content("~/Content/")dist/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="@Url.Content("~/Content/")dist/plugins/datatables/dataTables.bootstrap.min.js"></script>

    <script src="@Url.Content("~/Content/newJS/")jquery.min.js"></script>
    <script src="@Url.Content("~/Content/newJS/")jquery.uniform.js"></script>
    <script src="@Url.Content("~/Content/newJS/")select2.min.js"></script>
    <script src="@Url.Content("~/Content/newJS/")matrix.form_common.js"></script>

     
</body>
</html>
